@media screen and (max-width: 450px){
    /*----------mobile---------*/
    /*----geral----*/
    p{
        font-size: 16px;
    }

    .js{
        width:100%;
    }

    .containerProj{
        max-width: 150%;
        text-align: center;
    }

    body{
        width: 100%;
        max-height: 2100px;
    }

    .grid-container{
        grid-template-columns: 1fr;
        height: 2100px;
        width: 100%;
        overflow-x: hidden;
    }

    #hex-grid .grid{
        height: 2100px;
        background-size: 300px;
    }

    #hex-grid .light{
        display: none;
    }

    .sobre{
        z-index: 10;
        margin-top: -30px;
    }

    .menu, .grid-section, .final{
        grid-column: 1;
    }

    .menu{
        position: absolute;
        top: 0;
        left: 150px;
        width: 100%;
    }

    .grid-section{
        grid-template-columns: 10px 1fr;
        grid-gap: 10px;
        max-width: 100%;
    }

    .grid-section h1{
        font-size: 30px;
    }

    .logo{
        display: none;
    }


    .menu{
        margin-top: 0px;
        margin-left: -40%;
    }

    /*----sobre----*/

    .desc section{
        max-width: 100%;
    }

    .sobre p{
        max-width: 100%;
        height: 180px;
    }

    .self{
        grid-column: 2;
        margin-top: 250px;
        height: 250px;
        margin-left: 60px;
    }

    /*----proj----*/
    .tituloProj{
        width: 100.3%;
        height: 50px;
    }

    #text{
        max-width: 100%;
    }

    .proj{
        height: 800px;
        margin-top: 400px;
        max-width: 100%;
    }

    .text{
        margin-top: -250px;
        margin-bottom: 0;
        margin-left: 162px;
        width: 100%;
        text-align: center;
        height: 200px;
    }

    .text p{
        width: 100%;
    }

    .fly{
        width: 100%;
        margin-top: 0;
        margin-left: 0px;
        font-size: 1rem;
    }


    .carrossel{
        height: 200px;
        width: 100%;
        margin-top: 350px;
        margin-bottom: 0;
        margin-left: 190px;
    }

    .slick-initialized, .slick-slider{
        max-width: 80%;
    }

    .car{
        width: 140px;
        height: 130px;
        margin-left: 9px;
    }

    .imgCar{
        width: 140px;
        height: 130px;
        border-radius: 100%;
        object-fit: cover;
    }

    .projName, .projDesc{
        font-size: 16px;
        margin-left: 240px;
    }

    .projName{
        margin-top: 60px;
    }

    .next, .prev{
        display: none;
    }

    /*----habilidades----*/

    .hab{
        margin-top: 680px;
        height: 800px;
    }

    .titulohab{
        height: 6.25rem;
        width: 18.75rem;
    }

    .descHab{
        max-width: 100%;
    }

    /*--cube--*/
    .cube{
        display: none;
    }

    /*--neon--*/

    .neon{
        width: 12.5rem;
        height: 6.25rem;
    }

    .neon h2{
        font-size: 1.25rem;
        font-weight: 600;
        top: -300px;
    }

    .neon .back{
        left: 8.75rem;
    }

    .neon .design{
        left: 16.5625rem;
    }

    /*--desc--*/
    .desctext{
        font-size: 0.875rem;
        top: -250px;
    }

    .Front{
        margin-left: 7.75rem;
        width: 6.25rem;
    }

    .Back{
        margin-left: 15.875rem;
        width: 6.25rem;
    }

    .Design{
        margin-left: 24.375rem;
        width: 6.25rem;
    }

    /*----contato----*/
    .cont{
        margin-top: 890px;
        height: 600px;
    }

    .titleCont{
        width: 6.25rem;
        top: 10rem;
        left: 17.5rem;
    
        letter-spacing: 0.125rem;
        font-size: 2.1875rem;
        border-bottom: #fff 0.0625rem solid;
    }

    .contDesc{
        width: 18.75rem;
        margin-left: 10.625rem;
        height: 6.25rem;
    
        letter-spacing: 0.125rem;
        font-size: 1.5625rem;
    }

    .magic{
        width: 32.5rem;
        height: 2.5rem;
        font-size: 0.625rem;
        left: -1.375rem;
    }

    /*--forms--*/
    .form__group{
        height: 1.25rem;
    }

    .form__field{
        width: 9.375rem;
        font-size: 0.75rem;
        padding-top: 0.3125rem;
    }

    .form__field:focus + .form__label,
    .form__field:valid + .form__label{
	    transform: translateY(-0.9375rem);
	    font-size: 0.9375rem;
	    color: #335bf3;
        font-weight: 700;
        font-size: 1rem;
        transition: .2s;
    }

    .form__label{
        font-size: 0.75rem;
    }

    .name{
        left: 9.375rem;
    }
    .email{
        top: 3.75rem;
        left: 9.375rem;
    }

    .msg{
        width: 18.75rem;
        height: 12.5rem;
    }

    .enviar{
        top: 320px;
        left: 230px;
    }

    /*----footer----*/

    .final{
        width: 100%;
        top: 2000px;
    }
}
@media screen and (min-width:451px) and (max-width:1025px){
    /*----------tablet---------*/
    /*----geral----*/
    p{
        font-size: 16px;
    }

    .js{
        width:100%;
    }

    .containerProj{
        max-width: 150%;
        text-align: center;
    }

    body{
        width: 100%;
        height: 100%;
    }

    .grid-container{
        height: 2100px;
        width: 100%;
        overflow-x: hidden;
    }

    #hex-grid .grid{
        height: 2100px;
        background-size: 300px;
    }

    #hex-grid .light{
        display: none;
    }

    .sobre{
        z-index: 10;
        margin-top: -30px;
    }

    .menu, .grid-section, .final{
        grid-column: 1;
    }

    .menu{
        position: absolute;
        width: 100%;
    }

    .logo{
        top: -68px;
        width: 150px;
    }

    .grid-section{
        grid-template-columns: 10px 1fr;
        grid-gap: 10px;
        max-width: 100%;
    }

    .grid-section h1{
        font-size: 50px;
    }

    .menu{
        margin-top: 0px;
    }

    /*----sobre----*/

    .desc section{
        max-width: 100%;
        margin-top: 200px;
    }

    .sobre p{
        max-width: 40%;
        height: 180px;
    }

    .self{
        grid-column: 2;
        height: 350px;
        margin-left: 450px;
        margin-top: 60px;
    }

    /*----proj----*/
    .tituloProj{
        width: 100.3%;
        height: 50px;
    }

    #text{
        max-width: 100%;
    }

    .proj{
        height: 800px;
        margin-top: 330px;
        max-width: 100%;
    }

    .text{
        margin-top: -250px;
        margin-bottom: 0;
        margin-left: 162px;
        width: 100%;
        text-align: center;
        height: 200px;
    }

    .text p{
        width: 100%;
    }

    .fly{
        width: 100%;
        margin-top: 30px;
        margin-left: 0px;
        font-size: 1rem;
    }


    .carrossel{
        height: 200px;
        width: 80%;
        margin-top: 350px;
        margin-bottom: 0;
        margin-left: 239px;
    }

    .slick-initialized, .slick-slider{
        max-width: 80%;
    }

    .imgCar{
        width: 140px;
        height: 130px;
        margin-left: 9px;
    }

    .projName, .projDesc{
        font-size: 16px;
        margin-left: 435px;
    }

    .projName{
        margin-top: 60px;
    }

    .next, .prev{
        display: none;
    }

    /*----habilidades----*/

    .hab{
        margin-top: 680px;
        height: 1000px;
    }

    .titulohab{
        height: 6.25rem;
        width: 100%;
    }

    .descHab{
        max-width: 100%;
    }

    /*--cube--*/
    .cube{
        width: 75px;
        height: 75px;
    }

    .cube div span{
        transform: rotateY(calc(90deg * var(--i))) translateZ(36px);
    }

    .cube div span h2{
        transform: translateZ(15px);
    }

    .cube div span h1{
        font-size: 30px;
    }

    .cube div span h2 img{
        width: 60px;
    }

    .cube div span h2:nth-child(1){
        transform: translateZ(0) translateY(5px);
    }

    .top{
        transform: rotateX(90deg) translateZ(37px);
    }
    
    .top::before{
        width: 75px;
        height: 75px;
        transform: translateZ(-105px);
        filter: blur(20px);
    }
    /*--cube-front--*/
    .cubeFront{
        top: 0;
        left: 60px;
        margin-top: 1170px;
    }

    /*--cube-Back--*/
    .cubeBack{
        top: 0;
        margin-top: 1170px;
        left: 350px;
    }

    .cube div span .back, .express{
        font-size:30px;
    }

    /*--cube-design--*/
    .cubeDesign{
        top: 0;
        margin-top: 1170px;
        left: 600px;
    }

    /*--neon--*/

    .neon{
        width: 12.5rem;
        height: 6.25rem;
    }

    .neon h2{
        font-size: 1.25rem;
        font-weight: 600;
        top: -290px;
    }

    .neon .front{
        left: 50px;
    }

    .neon .back{
        left: 340px;
    }

    .neon .design{
        left: 590px;
    }

    /*--desc--*/
    .desctext{
        font-size: 0.875rem;
        top: -240px;
    }

    .Front{
        margin-left: 170px;
        width: 6.25rem;
    }

    .Back{
        margin-left: 453px;
        width: 6.25rem;
    }

    .Design{
        margin-left: 720px;
        width: 6.25rem;
    }

    /*----contato----*/
    .cont{
        margin-top: 970px;
        height: 600px;
    }

    .titleCont{
        width: 6.25rem;
        top: 130px;
        left: 475px;
    
        letter-spacing: 0.125rem;
        font-size: 2.1875rem;
        border-bottom: #fff 0.0625rem solid;
    }

    .contDesc{
        width: 18.75rem;
        margin-left: 370px;
        height: 6.25rem;
    
        letter-spacing: 0.125rem;
        font-size: 1.5625rem;
    }

    .magic{
        width: 32.5rem;
        height: 2.5rem;
        font-size: 16px;
        left: -100px;
    }

    /*--forms--*/
    .form__group{
        height: 1.25rem;
    }

    .form__field{
        width: 200px;
        font-size: 16px;
        padding-top: 0.3125rem;
    }

    .form__field:focus + .form__label,
    .form__field:valid + .form__label{
	    transform: translateY(-0.9375rem);
	    font-size: 0.9375rem;
	    color: #335bf3;
        font-weight: 700;
        font-size: 12px;
        transition: .2s;
    }

    .form__label{
        font-size: 1rem;
    }

    .name{
        left: 180px;
    }
    .email{
        left: 640px;
    }

    .msgTablet{
        top: 60px;
        left: 270px;
        width: 500px;
        height: 200px;
    }

    .message{
        left: 280px;
    }

    /*----footer----*/

    .final{
        width: 100%;
        top: 2000px;
        height: 150px;
    }

    /*--animação--*/
    @keyframes rain{
        0%{
            transform: translateY(-3.125rem);
        } 100%{
            transform: translateY(calc(8vh));
        }
    }
}